# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\rossm\OneDrive - GMIT\Year 4\Software Eng with Test\Lab-Code\Assessment2_Ross_Monaghan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
